[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bottle = "*"

[dev-packages]
flake8 = "*"
webtest = "*"

[requires]
python_version = "3.8"

[scripts]
lint = "bash scripts/lint.sh"
start = "bash scripts/enterypoint.sh"
www = "bash scripts/serve_html.sh"
test = "bash scripts/test.sh"
clean = "bash scripts/clean.sh"
