[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bottle = "*"

[dev-packages]
pytest = "*"
flake8 = "*"

[requires]
python_version = "3.8"

[scripts]
lint = "bash scripts/lint.sh"

start = "bash scripts/enterypoint.sh"

test = "bash scripts/test.sh"

