[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bottle = "*"
marshmallow = "*"
swagger-ui-py = "*"
phonenumbers = "*"
pyjwt = "*"

[dev-packages]
flake8 = "*"
webtest = "*"
coverage = "*"

[requires]
python_version = "3.9"

[scripts]
lint = "bash scripts/lint.sh"
start = "bash scripts/server.sh"
server = "bash scripts/enterypoint.sh"
www = "bash scripts/serve_html.sh"
test = "bash scripts/test.sh"
clean = "bash scripts/clean.sh"
