  <div class="w3-container">
    <h2>Inicia Sesion</h2>
    <div class="">
    <a class="action w3-button w3-hover-opacity w3-padding-large w3-green" data-action="login-phone">
            <b> Numero telefonico <i class="fas fa-phone"></i> </b>
    </a>
    </div>
    <div class="">
    <a class="action w3-button w3-hover-opacity w3-padding-large w3-green" data-action="login-email">
            <b> Correo Electronico <i class="fas fa-at"></i> </b>
    </a>
    </div>
    <div class="">
    <a class="action w3-button w3-hover-opacity w3-padding-large w3-red" data-action="login-google">
        <b>Google
        <i class="fab fa-google" aria-hidden="true"></i>
        </b>
    </a>
    </div>
    <div class="">
    <a class="action w3-button w3-hover-opacity w3-padding-large w3-blue" data-action="login-facebook">
        <b>Facebook <i class="fab fa-facebook" aria-hidden="true"></i>
        </b>
    </a>
    </div>
  </div>
