<a href="#" class="w3-bar-item w3-button w3-padding-large w3-hover-white" title="Mis movimientos">
    <i class="fas fa-user"></i>
    <span class="w3-hide-medium w3-hide-large">User</span>
</a>
<a href="http://localhost:8091/user.html" class="w3-bar-item w3-button w3-padding-large w3-hover-white" title="Codigo QR">
    <i class="fas fa-qrcode"></i>
    <span class="w3-hide-medium w3-hide-large">Scan</span>
</a>
<a href="#" class="w3-bar-item w3-button w3-padding-large w3-hover-white" title="Configuraciones de la cuenta">
    <i class="fas fa-money-check-alt"></i>
    <span class="w3-hide-medium w3-hide-large">Accounts</span>
</a>
<a href="#" class="w3-bar-item w3-button w3-padding-large w3-hover-white" title="Notificaciones">
    <i class="fas fa-map-marked-alt"></i>
    <span class="w3-hide-medium w3-hide-large">Market</span>
</a>
<a href="#" class="w3-bar-item w3-button w3-right w3-padding-large w3-hover-white" title="Mi cuenta">
    <img src="/assets/avatar2.png" class="w3-circle" style="height:23px;width:23px" alt="Avatar">
    <span class="w3-hide-medium w3-hide-large">User</span>
</a>