  <div class="w3-container">
    <h2>Sign up</h2>
    <div class="">
    <a class="action w3-button w3-hover-opacity w3-padding-large w3-green" data-action="signup-local">
        <b>
            Sign Up with <i class="fas fa-user"></i>
        </b>
    </a>
    </div>
    <div class="">
    <a class="action w3-button w3-hover-opacity w3-padding-large w3-red" data-action="signup-google">
        <b>
        Sign Up With 
        <i class="fab fa-google" aria-hidden="true"></i>
        </b>
    </a>
    </div>
    <div class="">
    <a class="action w3-button w3-hover-opacity w3-padding-large w3-blue" data-action="signup-facebook">
        <b>
        Sign Up With <i class="fab fa-facebook" aria-hidden="true"></i>
        </b>
    </a>
    </div>
  </div>

