<table class="w3-table w3-striped w3-bordered" id="user_transactions">
    <tr class="w3-theme-d2">
        <th class="w3-hide-small">ID Transaccion</th>
        <th>Concepto</th>
        <th>Direccion</th>
        <th>Monto</th>
        <th>Acciones</th>
    </tr>
	    <tr>
        <td class="w3-hide-small">10</td>
        <td>Pago de una compra</td>
        <td>Saliente</td>
        <td>1000</td>
        <td>
            <a class="w3-button" href="#"> <i class="fas fa-cog"> </i> </a>
            <a class="w3-button" href="#"> <i class="fas fa-eye"> </i> </a>
        </td>
	</tr>
    <tr w3-repeat="transactions">
        <td class="w3-hide-small">{{id}}</td>
        <td>{{description}}</td>
        <td>{{direction}}</td>
        <td>{{amount}}</td>
        <td>
            <a class="w3-button" href="#"> <i class="fas fa-cog"> </i> </a>
			
            <a class="w3-button" href="#"> <i class="fas fa-eye"> </i> </a>
        </td>
	</tr>
	
</table>
<script data-execution="pending">
w3.displayObject( "user_transactions", window.FakeMoney.User);
</script>
